### Required Python packages.

Flask==3.1.0
pillow==11.2.1
requests==2.32.3
torch==2.7.0
transformers==4.51.3
hf-xet==1.1.0
timm==1.0.15
ollama==0.4.8
pydantic==2.11.4
gunicorn==23.0.0

### Intel-specific libraries not available for ARM64-based devices.
### see https://pip.pypa.io/en/stable/reference/requirement-specifiers/
### Intel® OpenMP* Runtime Library:
# intel-openmp; sys_platform == 'linux' and platform_machine == 'amd64'
### Intel® oneAPI Threading Building Blocks:
# tbb; sys_platform == 'linux' and platform_machine == 'amd64'
### Intel® oneAPI Math Kernel Library:
# mkl; sys_platform == 'linux' and platform_machine == 'amd64'
